/* Global Rules */
*{font-family: 'Roboto', sans-serif;}
a{text-decoration: none; color:#0E2646}
/* Declare Variables*/
:root{--main-color:#0E2646; --secondary-color:#F0E483;}
/* Set the container component*/
.container{display: flex; justify-content: space-evenly;}
/*Start Header*/
header .container img{width:80px;height:80px}
header .container nav{background-color: var(--main-color)}
header .container nav ul{margin: 20px 10px; padding:20px 10px;}
header .container nav ul li, header a{
    list-style-type: none;
    display:inline;
    padding: 20px;
    margin: 0;
    background-color:var(--main-color);
    color: var(--secondary-color) !important;
    font-size: 24px;
    cursor: pointer;
}

header .container nav ul li:hover,header a:hover{
    background-color: var(--secondary-color);
    color: var(--main-color) !important;
   
}
/*End Header*/
/*Start Welcome Section*/
.welcome{background-size:cover; height: 500px; position:relative;text-align: center; color:var(--secondary-color)}
.welcome .overlay{
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.2);
    position: absolute;
}
.welcome-1{background-image: url("../img/gate.jpg");}
.welcome-2{background-image: url("../img/playground.jpg");}
.welcome   h2{font-size: 36px;font-weight: 300; padding-top:50px; margin:0}
.welcome  p{width:438px; font-size:18px;margin:auto}
/*End Welcome Section*/
/*Start About Us Section*/
.aboutus .container .box{
    background-image: url("../img/hanaa.jpg");
    background-size: cover;
    width: 300px;
    height:300px;
}
.aboutus .container {padding:50px}
.aboutus .container .text h2{font-size: 36px; font-weight: 300;}
.aboutus .container .text q{
width:404px;
display:block;
font-size: 18px;
}
.towards{background-color: #8F8E85; color:var(--main-color);text-align: center;height:300px}
.towards p{
    font-size:24px;
    width:1000px;
    margin:auto;
    padding-top: 50px;

}
.aboutus .container .text i{
    margin-left: 35%;
    font-weight: 200;
}
/*End About US Section*/
/*Start Activites Section*/
.activites {
    text-align:center;
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.activites h2{
    padding-top: 50px;
    margin:0;
    font-size: 36px;
    font-weight: 300;
}
.activites p{font-size:18px;}
.activites .container{justify-content: center;padding-bottom:50px;}
.activites .container .card{
    width:300px;
    margin:10px;
}
.activites h3{font-size:24px;font-weight: 300;}
.activites .container .card .Special{font-size:14px }
.activites .container .card .img{
    width: 300px;
    height:200px;
    background-image: url("../img/dreampark.jpg");
    background-size: cover;
}
.activites .container .card .text{
    background-color: #8F8E85;
    height:365px;
}
.activites .container .card .img-1{
    background-image: url(../img/funfair.jpg);
}
.activites .container .card .img-2{
    background-image: url(../img/karate.jpg)
}
.activites .container .card .img-3{
    background-image: url(../img/nemo.jpg);
}
/*End Activites Section*/
/*Start Contact Us Section*/
.contactus{
    text-align: center;
    color: var(--main-color);
}
.contactus h2{font-size: 36px; font-weight: 300;}
.contactus .container form input,textarea{
    display:block;
    width:600px;
    height:50px;
    margin-bottom: 10px;
    background-color:var(--secondary-color);
    outline: 0;
    border: 0;
}
.contactus .container form textarea{
    height:200px
}
.contactus .container form input[type="submit"]{
    background-color: var(--main-color);
    color: var(--secondary-color)
}
/*End Contact Us Section*/
/*Start Footer*/
footer{
    background-color: var(--main-color);
    color: var(--secondary-color);
}
footer .container{
    padding: 50px 0;
}
footer .container a{
    text-decoration: none;
    color: var(--secondary-color)
}
/*End Footer*/
/*Start Copyright*/
.copyright{
    text-align: center;
    background-color: #8F8E85;
    color:white;
    margin:0;
    padding:10px
}
/*End Copyright*/


